@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  background-color: #0f0f23;
  color: #cccccc;

  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

h1,
h2 {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  @apply mb-[1rem];
}

h2 {
  @apply mt-[1rem];
}

h1::before,
h2::before {
  content: '--- ';
}

em {
  font-style: normal;
  color: #fff;
  filter: drop-shadow(0 0 4px #fff);
}

h1::after,
h2::after {
  content: ' ---';
}

a {
  color: #009900;
  text-decoration: none;
}

a::before {
  content: '[';
}

a::after {
  content: ']';
}

a:hover {
  color: #99ff99;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: #009900;
  cursor: pointer;
}

button:hover {
  color: #99ff99;
}

button::before {
  content: '[';
}

button::after {
  content: ']';
}

button:focus {
  outline: none;
  color: #99ff99;
}

button:disabled {
  color: #444444;
  cursor: default;
}

p {
  max-width: 55em;
  @apply mb-[1rem];
}

input {
  color: inherit;
  border: 1px solid #666666;
  background: #10101a;
  padding: 0 2px;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.gold {
  color: #ffff66;
}

.first-only {
  color: #9999cc;
}

.quiet {
  opacity: .7;
}

.pre {
  white-space: pre;
}

.pre a::after,
.pre a::before {
  content: '';
}